body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;

}

/* header */

header{
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
    background-color: cadetblue;

}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    min-height: 80px;

}
.header__name {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 15px 0;
}
.header__nav {
    max-width: 600px;
    width: 100%;
    min-height: 80px;
    display: flex;

}
.header__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.header__list li {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    
}
.header__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 0 20px;
}
.header__link:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(68, 116, 117);
}
.active {
    background-color: rgb(68, 116, 117);
}
.popup-menu{
    position: relative;
    display: flex;
    align-items: center;
}
.popup-menu__button{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 75px;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-color: #F6F2F2;
    background-size: contain;
    background-position: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.popup-menu__list{
    background-color: rgb(68, 116, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 89px;
    z-index: 1;
}
.popup-menu__item{
    display: flex;
    min-height: 89px;
}
.popup-menu__link{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 8px;
}
.popup-menu__link:hover{
    background-color: var(--accent-color);
}
.popup-menu__link_active{
    background-color: var(--accent-color);
}

.hide{
    display: none;
}

/* main */
.main__heading {
    margin: 20px auto;
}
.main__demo {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}
.main__map {
    max-width: 700px;
    height: auto;
    border: 2px solid cadetblue;
    border-radius: 5px;
}
.main__photoes {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__photo {

    height: auto;
    border: 2px solid cadetblue;
    border-radius: 5px;
}
.btn {
    max-width: 600px;
    width: 100%;
    min-height: 50px;
    background-color: cadetblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btn:hover {
    background-color: rgb(68, 116, 117);
    color: #fff;
}

.line {
    max-width: 500px;
    background-color: cadetblue;
    min-height: 1px;
    margin: 40px auto;
}

.main__intro {
    max-width: 600px;
   
}

.main__text {
    margin: 60px auto;
}
.card {
    max-width: 700px;
    border: 2px solid cadetblue;
    box-shadow: 2px 8px 15px rgba(68, 116, 117, 0.3);
    padding: 30px;
    margin-bottom: 30px;
    
}
.card__general {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    
}
.card__photo_bef {
    max-width: 527px;
    width: 100%;
    height: auto;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}
.card__year_bef {
    
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}
.card__photo-af {
    max-width: 527px;
    width: 100%;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}
.card__year_af {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.card__heading {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.card__comm {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

/* gallery */

.search {
    margin: 20px auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search__form {
    max-width: 600px;
    width: 100%;
}
.search__city {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
.search__year {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;

}

.search__photo {
    
    max-width: 700px;
    width: 100%;
    height: auto;
    border: 2px solid cadetblue;
    box-shadow: 2px 8px 15px rgba(68, 116, 117, 0.3);
    padding: 30px;
}

.form__block {
    margin: 20px auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.form__left {
    display: flex;
    flex-direction: column;
    text-align: start;

}
.form__right {
    max-width: 600px;
    width: 100%;
}
.form__textarea {
    max-width: 600px;
    width: 100%;
    min-height: 150px;
    
}

/* create */

.form__pair {
    margin-bottom: 30px;
}
.form__left-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form__left-2 {
    display: flex;
    justify-content: space-between;

}
.card__create {
    margin: 40px auto;
    max-width: 1200px;
    border: 2px solid cadetblue;
    box-shadow: 2px 8px 15px rgba(68, 116, 117, 0.3);
    padding: 60px;
}
.card__general_create {
    gap: 30px;
}

/* footer */

.footer {
    
    width: 100%;
    margin: 0 auto;
    min-height: 60px;
    background-color: cadetblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer p {
    margin: 0;
}

/* responsieve */

@media screen and (max-width: 1400px) {
    
    main {
        padding: 2vw;
    }
}
@media screen and (max-width: 1360px) {
    
    .search {
        flex-direction: column;
        justify-content: center;
    }
    .search__form {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1080px) {
    
    .form__block {
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 900px){
    .popup-menu{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .header__nav{
        display: none;
    }
}
@media screen and (max-width: 670px) {
    .form__left {
        margin-bottom: 20px;
    }
    .form__left-1 {
        flex-direction: column;
        align-items: center;
    }
    .form__left-2 {
        flex-direction: column;
        align-items: center;    
    }
}
@media screen and (max-width: 450px) {
    
    .card__general {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card__general h3 {
        font-size: 22px;
    }
}